<strong> Recupendando senha </strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}}). Se voce não foi o autor dessa requisição, por favor troque sua senha !</p>

<p>Para continuar com a recuperação de senha clique no link abaixo</p>

<a href="{{ link }}"> Criar nova senha</a>